body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, 
textarea {
  width: 100%;
}

.square {
  margin-right: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.selectedSquare {
  border: 2px solid #555;
}